@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@font-face {
  font-family: 'MonumentExtended';
  src: url('../public/fonts/MonumentExtended-Regular.woff2') format('truetype');
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../public/fonts/Satoshi-Bold.woff2') format('truetype');
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../public/fonts/Satoshi-Medium.woff2') format('truetype');
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../public/fonts/Satoshi-Regular.woff2') format('truetype');
}

.monument-extended {
  font-family: 'MonumentExtended', sans-serif;
}

.satoshi-bold {
  font-family: 'Satoshi-Bold', sans-serif;
}

.satoshi-medium {
  font-family: 'Satoshi-Medium', sans-serif;
}

.satoshi-regular {
  font-family: 'Satoshi-Regular', sans-serif;
}

.gradient-border {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #3D8BFF, #AB23FF) 1;
}

.gradient-text {
  background-image: linear-gradient(to right, #3D8BFF, #AB23FF);
}